<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: "JACQUEMUS" }); %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product-list.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/navbar'); %>
    <h3 style="margin-top: 50px"><%= category_name %></h3>
    <hr class="line" />

    <div class="container">
      <div class="row">
        <% products.forEach((product, index)=> { %>
        <div class="col-lg-4 col-md-6 col-xs-6">
          <div id="carouselExampleControls<%= index %>" class="carousel slide">
            <div class="carousel-inner">
              <div
                class="carousel-item active"
                product_id="<%= product.product_id %>"
              >
                <a href="/product-detail/<%= product.product_id %>">
                  <img
                    class="imageBag"
                    src="/image<%= product.product_images1 %>"
                    alt="images"
                  />
                </a>
                <div class="wishlist-icon">
                  <i class="fas fa-heart"></i>
                </div>
                <div class="product-details">
                  <p><%= product.product_name %></p>
                  <p>Price: $<%= product.product_price %></p>
                </div>
              </div>
              <div class="carousel-item" product_id="101">
                <a href="/product-detail/<%= product.product_id%>">
                  <img class="imageBag" src="/image<%= product.product_images2 %>" />
                </a>
                <div class="wishlist-icon">
                  <i class="fas fa-heart"></i>
                </div>
                <div class="product-details">
                  <p><%= product.product_name %></p>
                  <p>Price: $<%= product.product_price %></p>
                </div>
              </div>
              <div class="carousel-item" product_id="101">
                <a href="/product-detail/<%= product.product_id%>">
                  <img class="imageBag" src="/image<%= product.product_images3 %>" />
                </a>
                <div class="wishlist-icon">
                  <i class="fas fa-heart"></i>
                </div>
                <div class="product-details">
                  <p><%= product.product_name %></p>
                  <p>Price: $<%= product.product_price %></p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls<%= index %>"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls<%= index %>"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <%- include('partials/news-letter') %>
    <%- include('partials/footer') %>
    
    <script src="/controllers/wishlist/add-to-wishlist.js"></script>
    <script src="/controllers/wishlist/wishlist-icon-toggle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
